* {
    margin: 0;
    padding: 0;
}

/*==================== Header ====================*/

header>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(21, 97, 132);
}

header>div>img {
    width: 50px;
    height: 50px;
}

/*==================== Form ====================*/

form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 1em;

}


/*==================== Modal ====================*/

#dialog {
    position: fixed;
    top: 30%;
    left: 43%;
    /* width: 220px; */
    width: 220px;
    /* max-width: 100%; */
    padding: 2em;
}

#dialog fieldset {
    width: 500px;
}

#btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#open-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}


/*==================== Form Input Fields ====================*/

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field.error input {
    border-color: red;

}

.form-field.success input {
    border-color: rgb(117, 227, 81);

}

.form-field.success {
    border-color: rgb(85, 219, 94);
}


.form-field small {
    color: rgb(237, 57, 57);

}

/*==================== Table ====================*/

table {
    visibility: hidden;
}

table,
tr,
td,
th,
tbody,
thead {
    border: 1px solid black;
    text-align: center;
}

#table-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
}

#remove-icon {
    width: 50px;
    height: 50px;
}

#remove-btn {
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}