body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background-color: rgb(21, 97, 132);
	color: white;
}

.image-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.3em;
}

.image-container img {
	width: 50px;
	cursor: pointer;
}

header > img {
	width: 50px;
}

button {
	cursor: pointer;
}

.wrapper {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -130px;
}

dialog {
	padding: 1em;
}

.btns-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	margin-top: 0.5em;
}

.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 3px solid blue;
	padding: 1em;
}

.btn-container > button {
	padding: 0.5em 0.3em;
}

#table-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

table {
	table-layout: fixed;
	min-width: 1000px;
	width: 80%;
	border-collapse: collapse;
	margin: 0 auto;
}

thead,
tbody,
tr,
th,
td {
	border: 1px solid black;
}

th,
td {
	vertical-align: top;
	padding: 0.5em;
}

thead th:last-child,
tbody td:last-child {
	border-top: hidden;
	border-bottom: hidden;
	border-right: hidden;
}

/* .edit-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
} */

.remove-icon {
	width: 50px;
}
